.brick {
    float: left;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #999;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0.125rem;
}
.brick.full {
    background: #000;
}
.game{
  position: relative;
  background: #003684;
  width: 244px;
  padding: 10px;
  margin: 0 auto;
}
.game-field{
    position: relative;
    background: #00182B;
    display: flex;
    flex-wrap: wrap;
    width: 224px;
    height: 444px;
    border: 1px solid #0B79E8;
    padding: 1px;
}
.game-field.disabled{
    filter: blur(3px);
}
.game-field.disabled:before{
    content: '';
    position: absolute;
    background: #fff;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 0.3;
}
.cell{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #0B79E8;
    margin: 1px;
}
.cell.full{
    background: #fff;
    border-width: 4px;
    border-style: outset;
}
